<h1>FOUND</h1>

<%= form_for :found, url: founds_path do |f| %>
  <p>
    <%= f.label :catagory %><br>
    <%= f.select :catagory, ['phone', 'laptop', 'camera', 'clothing', 'bag', 'book', 'CAC', 'other'] %>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.select :location, ['bancroft', 'michealson', 'chauvenet', 'luce', 'nimitz'] %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
