<p>
  <strong>Catagory:</strong>
  <%= @lost.catagory %>
</p>

<p>
  <strong>Location:</strong>
  <%= @lost.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lost.description %>
</p>

<p>
 <strong>Email:</strong>
 <%= @lost.email %>
</p>

Potential Found Items:
<table>
  <tr>
    <th>catagory</th>
    <th>location</th>
  </tr>

  <% @founds_match.each do |found| %>
    <tr>
      <td><%= found.catagory %></td>
      <td><%= found.location %></td>
    </tr>
  <% end %>
</table>

Go <a href = "/losts"> HERE </a> To View All
